.cert-card {
  width: 30%;
  display: flex;
  align-content: center;
  border: 1px solid #d9dbdf;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #d9dbdf;
  margin-bottom: 30px;
  /*flex: 0 0 30%;*/
}

.cert-header {
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.logo_img {
  margin: 3px;
  width: auto;
  height: 100px;
}

.cert-body {
  margin: 0;
  flex: 0 0 70%; /* Set flex-grow to 0, flex-shrink to 0, and flex-basis to 30% */
}

.cert-body-title {
  text-align: left;
  font-family: "Google Sans Regular", sans-serif;
  font-size: 20px;
  margin: 10px;
}

.cert-body-subtitle {
  font-family: "Google Sans Regular", sans-serif;
  font-size: 18px;
  color: #808080;
  margin: 10px;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  font-family: "Google Sans Regular", sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.bigger {
  font-size: 4em;
}
/* CertificationCard.css */

.icon {
  padding-top: 1em;
  flex: 0 0 30%; /* Set flex-grow to 0, flex-shrink to 0, and flex-basis to 30% */
  text-align: center;
  margin-right: 16px;
}

.iconify {
  width: 100%;
  height: auto;
}

.fadeIn-top {
  top: 20%;
}

@media (max-width: 768px) {
  .cert-card {
    width: 100%;
  }
}
