.repo-card-div {
  color: rgb(88, 96, 105);
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 30px -15px;
  padding: 2rem;
  cursor: pointer;
  flex: 1 1 25%;
  border-radius: 20px;
  height: 35vh;
}
.repo-card-div:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 20px 30px -10px;
}

.repo-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.repo-left-stat {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.language-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 0.25rem;
  border-radius: 100%;
}

.repo-left-stat span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the opposite ends */
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repo-name {
  text-align: left;
  color: rgb(36, 41, 46);
  font-family: "Google Sans Regular", sans-serif;
  margin-bottom: 0.75rem;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
  line-height: 1.2;
}

.repo-star-svg {
  margin-right: 0.3rem;
}

.text-inside-card {
  padding-top: 1rem;
  line-height: 2rem;
  text-align: left;
  font-family: "Google Sans Regular", sans-serif;
  margin-top: 0.8rem;
  font-size: 1.3rem;
}

.repo-details {
  display: flex;
  flex-direction: row;
}

.repo-languages {
  margin-left: auto;
  margin-right: 0;
}

@media (max-width: 1200px) {
  .repo-card-div {
    flex: 1 1 40%;
  }
}
@media screen and (max-width: 2200px) {
  .text-inside-card {
    font-size: 1rem; /* Adjust the value based on your design for smaller screens */
  }
  .repo-cards-div-main {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .repo-card-div {
    flex: 1 1 100%;
    height: 50vh;
  }
  .text-inside-card {
    line-height: 1.5rem;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }

  .repo-name {
    font-size: 16px;
  }

  .repo-description {
    font-size: 14px;
  }

  .repo-details {
    flex-direction: column;
  }

  .repo-creation-date {
    font-size: 14px;
  }
}
