#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  cursor: pointer;
  padding: 15px;
  outline: none;
  border-radius: 15px;
  font-size: 1.5rem;
}

.some {
  body: "#EDF9FE";
  text: "#001C55";
  highlight: "#A6E1FA";
  dark: "#00072D";
  secondarytext: "#7F8DAA";
  imagehighlight: "#0E6BA8";
  compimghighlight: "#E6E6E6";
  jacketcolor: "#0A2472";
  headercolor: "#0E6BA877";
}
