/* Achievement.css */

.achievement-heading {
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
}
.card-image {
}

.card-title {
  color: black;

  font-weight: 400;
  line-height: normal;
}

.card-subtitle {
  color: #868e96;
  font-size: 20px;
}

.certificate-card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem;

  border-radius: 0.625rem; /* Changed from 10px to 0.625rem */
  border: 0.0625rem solid rgba(211, 211, 211, 0.397); /* Changed from 1px to 0.0625rem */
}

.certificate-detail-div {
  text-align: center;
}

.certificate-card:hover {
}
.certificate-image-div {
  text-align: center;
}
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.certificate-card-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.certificate-card-footer > p {
  color: #333333;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}
.certificate-card-footer > p:hover {
  color: #868e96;
}
/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 2.5rem; /* Changed from 40px to 2.5rem */
  }

  .achievement-heading {
    font-size: 1.875rem; /* Changed from 30px to 1.875rem */
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 1rem; /* Changed from 16px to 1rem */
    line-height: normal;
    text-align: center;
  }
}
